<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="paymentDetail">

	<insert id="save">
		insert into payment_detail(
			payment_detail_no, payment_no, item_no,
			item_name, item_price, item_qty, payment_detail_status
		)
		values(
			payment_detail_seq.nextval, #{paymentNo}, #{itemNo},
			#{itemName}, #{itemPrice}, #{itemQty}, '완료'
		)
	</insert>

	<!-- 특정 결제건에 대한 상세 항목들의 상태를 취소로 변경하는 구문 -->
	<update id="cancelPaymentDetail">
		update payment_detail set payment_detail_status = '취소'
		where payment_no = #{paymentNo}
	</update>
	
	<!-- 단일조회 -->
		<select id="find" resultType="PaymentDetailDto">
			select * from payment_detail where payment_detail_no = #{paymentDetailNo}
		</select>
	
	<!--  항목취소 -->
		<update id="cancelPaymentDetailItem">
			update payment_detail set payment_detail_status = '취소' 
			where payment_detail_no = #{paymentDetailNo}
		</update>

</mapper>