<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="payment">
	<select id="sequence" resultType="int">
		select payment_seq.nextval from dual
	</select>
	<insert id="save">
		insert into payment(
			payment_no, payment_tid, payment_name, payment_total,
			payment_remain, payment_time, member_id
		)
		values(
			#{paymentNo}, #{paymentTid}, #{paymentName}, #{paymentTotal},
			#{paymentRemain}, #{paymentTime}, #{memberId}
		)
	</insert>
	
	<!-- 결제내역 조회 기능(전체/회원별/...) -->
	<select id="selectAll" resultType="PaymentDto">
		select * from payment order by payment_no desc
	</select>
	<select id="selectByMember" resultType="PaymentDto">
		select * from payment 
		where member_id = #{memberId}
		order by payment_no desc
	</select>
	
	<select id="find" resultType="PaymentDto">
		select * from payment where payment_no = #{paymentNo}
	</select>
	
	<update id="cancelRemain">
		update payment
		set payment_remain = 0
		where payment_no = #{paymentNo}
	</update>

	<!-- 
		결제 대표정보(payment)와 상세정보(payment_detail)를 같이 조회
		- ResultMap을 사용한 계층형 조회
		 
		결제대표정보
		+- 결제상세정보
		+- 결제상세정보
		+- 결제상세정보
		+- 결제상세정보
		+- 결제상세정보
	-->

	<resultMap type="PaymentListVO" id="paymentListVO">
		<association property="paymentDto">
			<result column="payment_no" property="paymentNo"/>
			<result column="payment_tid" property="paymentTid"/>
			<result column="payment_name" property="paymentName"/>
			<result column="payment_total" property="paymentTotal"/>
			<result column="payment_remain" property="paymentRemain"/>
			<result column="payment_time" property="paymentTime"/>
			<result column="member_id" property="memberId"/>
		</association>
		<collection property="paymentDetailList" 
				javaType="java.util.List" ofType="PaymentDetailDto" 
				select="treeSelectSub"
				column="payment_no">
			<result column="payment_detail_no" property="paymentDetailNo"/>
			<result column="payment_no" property="paymentNo"/>
			<result column="item_no" property="itemNo"/>
			<result column="item_name" property="itemName"/>
			<result column="item_price" property="itemPrice"/>
			<result column="item_qty" property="itemQty"/>
			<result column="payment_detail_status" property="paymentDetailStatus"/>
			
		</collection>
	</resultMap>

	<!-- 계층형 조회 메인 구문 -->
	<select id="treeSelect" resultMap="paymentListVO">
		select * from payment
		<if test="memberId != null">
		where member_id = #{memberId}
		</if> 
		order by payment_no
	</select>
	
	<!-- 계층형 조회 서브 구문 -->
	<select id="treeSelectSub" resultType="paymentDetailDto">
		select * from payment_detail where payment_no = #{paymentNo}
	</select>

	<!-- 잔여 금액 차감 -->
	<update id="cancelRemainItem">
		update payment set payment_remain = 
		payment_remain - #{itemTotal} where payment_no = #{paymentNo}		
	</update>


</mapper>

