<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="css/load.css">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/commons.css">
    <link rel="stylesheet" type="text/css" href="css/layout.css">
    <link rel="stylesheet" type="text/css" href="css/test.css">
</head>
<body>

    <!--
        VueJS는 제어 영역을 반드시 설정해야 한다
    -->

    <div id="app" class="container-800">
       
        <div class="row center">
            <h1>포켓몬스터 목록</h1>
        </div>
        
        <!-- 등록화면 -->
        <div class="row center">
            <input type="text" v-model.number="no" placeholder="번호"><br>
            <input type="text" v-model="name" placeholder="이름"><br>
            <input type="text" v-model="type" placeholder="속성"><br>
            <button v-on:click="addItem">등록</button>
        </div>


        <!-- 목록화면 -->
        <div class="row center" v-for="(pocketmon, index) in pocketmonList" v-bind:key="pocketmon.no">
            
            <!-- 단순 출력이 목표면 사본, 변경이 목표면 원본을 사용-->
          
            <!-- 번호 : {{pocketmon.no}},
            이름 : {{pocketmon.name}},
            속성 : {{pocketmon.type}}  -->


            <!-- 원본 출력 -->
            <div v-if="pocketmonList[index].edit == false">
            번호 : {{pocketmonList[index].no}},
            이름 : {{pocketmonList[index].name}},
            속성 : {{pocketmonList[index].type}}
            <i class="fa-solid fa-edit ms-10" v-on:click="changeToEdit(index)"></i>
            <i class="fa-solid fa-trash ms-10" v-on:click="deleteItem(index)"></i>
            </div>

            <div v-if="pocketmonList[index].edit == true">
            번호 : <input type="text" v-model="pocketmonList[index].no">,
            이름 : <input type="text" v-model="pocketmonList[index].name">,
            속성 : <input type="text" v-model="pocketmonList[index].type">
            <i class="fa-solid fa-xmark ms-10" v-on:click="changeToDefault(index)"></i>
            </div>

        </div>

    </div>

    <!--
          VueJS는 Lazy loading 방식으로 제어 영역에 대한 프로그래밍 구현  
    -->

    <script src="https://unpkg.com/vue@3.2.36"></script>
    <script>
        Vue.createApp({
            //데이터 설정 영역 
            data(){
                return {
                    //화면에서 사용할 데이터 선언 
                   
                    //포켓몬스터 정보 배열
                    pocketmonList:[
                        {no:1, name:"이상해씨", type:"풀", edit:false},
                        {no:2, name:"파이리", type:"불꽃", edit:false},
                        {no:3, name:"피카츄", type:"전기", edit:false},
                        {no:4, name:"라이츄", type:"전기", edit:false},
                        {no:5, name:"꼬부기", type:"물", edit:false},
                    ],  

                    no:"",
                    name:"",
                    type:"",
                };
            },
            computed : {

            },

            methods:{

                changeToEdit(index){
                    this.pocketmonList[index].edit = true;
                },
                changeToDefault(index){
                    this.pocketmonList[index].edit = false;
                },
                deleteItem(index) {
                    this.pocketmonList.splice(index, 1); //첫 번째 매개변수(index)는 삭제를 시작할 위치를 나타냅니다. 두 번째 매개변수(1)는 삭제할 요소의 수
                },
                addItem() {
                    //유효성 검사 
                    var data = {
                        no:this.no, 
                        name:this.name, 
                        type:this.type, 
                        edit:false,
                    };
                    this.pocketmonList.push(data);

                    //초기화
                    this.no="";
                    this.name="";
                    this.type="";    
                },


            },

            //뷰 인스턴스의 생성 시점에 따른 간섭 처리 구현 
            //- create 시점에서는 데이터가 생성된다.
            //- mount 시점에서는 화면이 생성된다. (=화면에 Vue가 부착된다.)
            //- update 시점에서는 화면이 변경된다. 

            beforeCreate(){
                //생성 전에는 데이터가 없다
                console.log("before create");
                console.log(this.pocketmonList); 
            },
            created(){
                //생성 후에는 데이터가 있다. 
                console.log("after create");
                console.log(this.pocketmonList); 
            },
            beforeMount(){
                //마운트 전에는 v-로 만든 화면이 존재하지 않는다. 
                console.log("before mount");
                console.log(document.querySelectorAll(".row"));
            },
            mounted(){
                //마운트 후에는 v-로 만든 화면이 모두 존재한다. 
                console.log("after mount");
                console.log(document.querySelectorAll(".row"));
            },
            beforeUpdate(){
                //업데이트 전에는 데이터가 바뀌기 전 상태이다.
                console.log("before update");
                console.log(document.querySelectorAll(".row"));
            },
            updated(){
                //업데이트 후에는 데이터가 바뀐 후 상태이다. 
                console.log("after update");
                console.log(document.querySelectorAll(".row"));
            },

        }).mount("#app");
    </script>
</body>
</html>