<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="css/load.css">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/commons.css">
    <link rel="stylesheet" type="text/css" href="css/layout.css">
    <link rel="stylesheet" type="text/css" href="css/test.css">
</head>
<body>

    <!--
        VueJS는 제어 영역을 반드시 설정해야 한다
    -->

    <div id="app">
        
        <div class="container-500">
           
            <div class="row center">
                <h1>포켓몬스터 등록</h1>
            </div>

            <!--
                등록을 위해서 할 수 있는 방법이 2가지가 있음.
                [1] 기존처럼 Form을 만들고 전송 버튼을 눌러서 다른 컨트롤러로 이동
                - 이러면 페이지가 바뀜
                [2] ajax를 이용해서 데이터를 서버로 전송
                - 얘는 페이지가 안바뀜
            -->

            <div class="row">
                <label>번호</label>
                <input type="text" class="form-input w-100" v-model="pocketmon.no">
            </div>

            <div class="row">
                <label>이름</label>
                <input type="text" class="form-input w-100" v-model="pocketmon.name" v-on:input="pocketmon.name = $event.target.value">
            </div>

            <div class="row">
                <label>속성</label>
                <input type="text" class="form-input w-100" v-model="pocketmon.type" v-on:input="pocketmon.type = $event.target.value">
            </div>

            <div class="row">
                <button type="button" class="form-btn positive w-100" v-bind:disabled="pocketmon.isAllValid == false">
                    <i class="fa-solid fa-plus"></i>등록
                </button>
            </div>
        </div>

    </div>

    <!--
          VueJS는 Lazy loading 방식으로 제어 영역에 대한 프로그래밍 구현  
    -->

    <script src="https://unpkg.com/vue@3.2.36"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>


    <script>
        Vue.createApp({
            //데이터 설정 영역 
            data(){
                return {
                    //화면에서 사용할 데이터 선언 
                    pocketmon:{
                        no:"",
                        name:"",
                        type:"",
                        //객체 내에서 computed 대신 쓸 수 있는게 있따. 
                        
                        //얘는 읽기 전용 변수
                        get isNoValid() {
                            const regex = /^[0-9]+$/;
                            return regex.test(this.no);
                        },
                        
                        //얘는 함수 
                        getIsNoValid(){
                            const regex = /^[0-9]+$/;
                            return regex.test(this.no);
                        },

                        get isNameVaild() {
                            const regex = /^[가-힣]{1,7}$/;
                            return regex.test(this.name);
                        },

                        get isTypeVaild() {
                            const regex = /^[가-힣]{1,3}$/;
                            return regex.test(this.type);
                        },

                        get isAllValid() {
                            return this.isNoValid && this.isNameVaild && this.isTypeVaild;
                        }

                    },
                };
            },

            computed : {
                // isNoValid(){

                //     const regex = /^[0-9]+$/;
                //     return regex.test(this.pocketmon.no);

                // }    
            },

            //메소드 영역 
            //- 코드를 저장해두고 필요 시 호출할 수 있다.
            //- 필요하다면 매개변수를 설정할 수 있고, 반환값을 가질 수 있다. 
            methods:{
               
            },

            watch:{


            },
        }).mount("#app");
    </script>
</body>
</html>