<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="css/load.css">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/commons.css">
    <link rel="stylesheet" type="text/css" href="css/layout.css">
    <link rel="stylesheet" type="text/css" href="css/test.css">
</head>
<body>
    <!--
        VueJS는 제어 영역을 반드시 설정해야 한다

    -->
    <div id="app">
        <!--이메일 입력줄-->
        <div>
            <input v-on:keyup.enter="sendCertMail" type="text" v-model="email" placeholder="이메일 입력" v-bind:disabled="checkResult =='Y'">
            <button v-on:click="sendCertmail" v-bind:disabled="sending" v-if="checkResult != 'Y'">

            <span v-if="sending==false">
                <span v-if="sendingCount ==0">인증번호 보내기</span>
                <span v-else>인증번호 재전송</span>
            </span>

            <span v-else>
                <i class="fa-solid fa-cog fa-spin"></i>
                전송중 ........
            </span>
            
            </button>
        </div>

        <!-- 인증번호 입력줄-->
        <div v-if="checkResult != 'Y' && sendingCount > 0">
                <input type="text" v-model="secret" placeholder="인증번호 입력">
                <button v-on:click="sendCheck">확인</button>

                <div v-if="checkResult == 'N'">잘못된 인증번호 입니다</div>
        </div>
        <div v-else-if="checkResult == 'Y'">
                인증 성공
                <a href="#" v-on:click.prevent="checkResult = null">다시 인증하기</a>
            </div>
    </div>

    <!-- 
        VueJS는 Lazy loading 방식으로 제어 영역에 대한 프로그래밍 구현

        무조건 최신버전
        <script src="https://unpkg.com/vue@next"></script>
    -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3.2.36"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>

    <script>
        Vue.createApp({
            //데이터 설정 영역
            data(){
                return {
                    //화면에서 사용할 데이터를 선언
                    email:"",

                    //이메일이 발송중인지를 기록하는 변수
                    sending:false,

                    //이메일을 몇 번 보냈는지 기록하는 변수
                    sendingCount:0,

                    //이메일 인증 결과를 기록하는 변수 ("" / Y / N)
                    checkResult : "",
                };
            },
            computed:{

            },
            methods:{
                async sendCertmail(){
                    this.sending = true;
                    const url = "http://localhost:8080/cert/";
                    // const resp = await axios.post(주소, 데이터);
                    const data = {
                        email:this.email
                    };
                    const resp = await axios.post(url, data);
                    this.sending = false;
                    this.sendingCount++;
                },
                async sendCheck(){
                    const url="http://localhost:8080/cert/check";
                    const data = {
                        email : this.email ,
                        secret : this.secret
                    };
                    const resp = await axios.post(url, data);
                    //완료 작업
                    // console.log(resp.data);
                    this.checkResult = resp.data;//Y또는 N
                }
            }
        }).mount("#app");
    </script>
</body>
</html>